.youtube-frame {
  width: 70vw;
  height: 40vw;
  display: block;
  margin: 0 auto;
  border: 3px solid;
  border-radius: 5px;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.container {
  padding: 10px;
  text-align: center;
}

.title {
  text-align: center;
}

.info-text {
  padding-bottom: 20px;
  font-weight: bold;
}

.code-text {
  padding-bottom: 30px;
  padding-top:10px;
  font-weight: bold;
  font-size: 16px;
}


.help-text {
  padding: 20px 0;
  font-weight: bold;
  font-size: 16px;
}
